# Folders
Dati
Papers
"thesis manuscript and presentation slides\CarboneGiorgio_Discorso_Presentazione_Tesi.docx"
"scripts\old scripts"
"thesis manuscript and presentation slides\CarboneGiorgio_Discorso_Presentazione_Tesi.docx"
"thesis manuscript and presentation slides/Presentazione_Senza_Nascosti_accorciata_1416pt.pptx"
"scripts\old scripts"

README.md
